---
layout: default
---
<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}
<p>The Toolkit is a curated repository of digital scholarship resources and documentation for research and teaching. It includes workshops on how to gather, analyze, and publish (GAP) research using various tools and methods. We built the Toolkit to provide detailed documentation on how each tool can be used to fill scholars' research and pedagogy GAPs regardless of experience or qualifications. Like all toolkits, our Toolkit will grow over time as we examine emergent trends in digital scholarship.</p>
<p>The Toolkit was built by the <a href="https://library.utm.utoronto.ca/research/digital-scholarship">Digital Scholarship Unit</a> at <a href="https://library.utm.utoronto.ca/">the University of Toronto Mississauga (UTM) Library</a>. The mandate of the UTM Library’s Digital Scholarship Unit is to develop and maintain digital projects for the Library by creating and using digital methods, theories, and tools to support curricula and research at the University of Toronto Mississauga.</p>
<h2>Posts</h2>
  
  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}


  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
      <li>
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    {% if site.paginate %}
      <div class="pager">
        <ul class="pagination">
        {%- if paginator.previous_page %}
          <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
          <li><div class="current-page">{{ paginator.page }}</div></li>
        {%- if paginator.next_page %}
          <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
        </ul>
      </div>
    {%- endif %}

  {%- endif -%}

</div>
